.fondo-registro {
  background-image: url(../images/1330647.jpeg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  padding-top: 140px;
  padding-bottom: 0px;
}

.fondo-login {
  background-image: url(../images/Inicio.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  padding-top: 140px;
  padding-bottom: 0px;
}

.fondo-docentes {
  background-image: url(../images/fondodocentes.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  padding-top: 140px;
  padding-bottom: 0px;
}