.fondo-registro {
  background-image: url(../images/1330647.jpeg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  padding-top: 140px;
  padding-bottom: 0px;
}

.fondo-login {
  background-image: url(../images/facts-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  padding-top: 140px;
  padding-bottom: 0px;
}

.fondo-docentes {
  background-image: url(../images/fondodocentes.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  padding-top: 140px;
  padding-bottom: 0px;
}

.informacion .item {
  background-image: url(../images/course-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  padding: 40px;
}

.fondo-inicio {
  background-image: url(../images/meetings-page-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  padding-top: 140px;
  padding-bottom: 0px;
}