{% extends "AI-html-1.0.0/base.html" %}

{% load static %}

{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1> Redes de estudios </h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Case Start -->
<div class="container-fluid bg-light py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Catálogo de Carreras</div>
            <h1 class="mb-4">Carreras Más Recientes</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'img/project-1.jpg'%}" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Redes de estudios</small>
                        <h5 class="lh-base text-white mb-3"> INGENIERÍA EN CIENCIAS Y SISTEMAS
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'img/project-2.jpg'%}" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Redes de estudios</small>
                        <h5 class="lh-base text-white mb-3"> INGENIERÍA MECÁNICA ELÉCTRICA
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                <div class="case-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'img/project-3.jpg' %}" alt="">
                    <a class="case-overlay text-decoration-none" href="">
                        <small>Redes de estudios</small>
                        <h5 class="lh-base text-white mb-3">INGENIERÍA ELECTRÓNICA
                        </h5>
                        <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Case End -->

{% endblock %}