<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
</head>
<body class="Bodyss">
    <table style="max-width: 1000px; padding:10px; margin:0 auto; border-collapse: collapse;">
        <tr>
        </tr>
        <tr>
            <td style="background-color: #ecf0f1">
                <div style="color: #34495e; margin:4% 10% 2%; text-align: justify; font-family: sans-serif">
                    <h2 style="color: #e67e22; margin: 0 0 7px">Cursos Asignados</h2>
                    <p class="lead">
                        Bienvenido a tu inicio de Clases {{user}}.<br/>
                        A continuación se adjuntan los cursos a los que te asignaste:<br/>
                        <strong>Cursos:</strong>
                        <br/>
                            - {{ curso }}
                        <br/>
                    </p>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
