{% extends "BaseHome.html"%} {% load static %} {% block content %}

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Here are our upcoming meetings</h6>
        <h2>Upcoming Meetings</h2>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="filters">
              <ul>
                <li data-filter="*" class="active">All Meetings</li>
                <li data-filter=".soon">Soon</li>
                <li data-filter=".imp">Important</li>
                <li data-filter=".att">Attractive</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-12">
              {% for curso in cursos %}
              <div class="row grid">
                  <div class="col-lg-4 templatemo-item-col all soon">
                      <div class="meeting-item">
                          <div class="thumb">
                              <div class="price">
                                  <span>$14.00</span><!-- Puedes ajustar este valor según lo necesites -->
                              </div>
                              <a href="meeting-details.html"><img src="{% static 'images/meeting-01.jpg' %}" alt=""/></a>
                          </div>
                          <div class="down-content">
                              <div class="date">
                                  <h6>Nov <span>12</span></h6><!-- Ajusta esta fecha según lo que necesites -->
                              </div>
                              <a href="meeting-details.html"><h4>{{ curso.nombre }}</h4></a>
                              <p>Morbi in libero blandit lectus<br /> <curso class="descripcion"></curso> </p>
                              <p class="card-text"><strong>Ing: </strong>{{ curso.docentes.first_name }} y {{curso.docentes.last_name }}</p>
                              <p class="card-text"><strong>Cupos: </strong>{{ curso.class_quantity }}</p>
                              <p class="card-text"><strong>Inscritos: </strong>{{ curso.enrolled_count }}</p>
                              {% if group_name == 'Estudiantes' %} 
                                  {% if curso.is_enrolled%}
                                      <a href="{% url 'desasignar_curso' curso.id %}">Desasignar</a>
                                  {% else %}
                                      <a href="{% url 'asignar_curso' curso.id %}">Asignar</a>
                                  {% endif %} 
                              {% else %}
                                  <lib><a href="{% url 'home' %}">Ir al Perfil</a></lib>
                              {% endif %}               
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>

          <div class="col-lg-12">
            <div class="pagination">
              <ul>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a href="#"><i class="fa fa-angle-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
